script1.sh
600
480
5
table_schema table_name
col_row_in_db_1



#имя скрипта
#пауза между опросами, сек.
#максимальное время ожидания отклика от БД, сек (не должно быть больше паузы между опросами)
#максимальное время ожидания отклика от pushgateway, сек (по умолчанию 1)
#перечисляем через пробел имя столбцов (max=5)
#192.168.94.124
